<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repositories</title>
</head>
<body>
<h1>{{ .title }}</h1>

<form action="/repos" method="POST">
    <label for="repoUrls">Configure Repositories to Watch</label>
    <div><textarea id="repoUrls" name="repoUrls" rows="10" cols="70"></textarea></div>
    <div><input type="submit" value="Save"></div>
</form>

<div>
    {{range .repos}}
    <ul>
        <ui>{{ . }},</ui>
    </ul>
    {{else}}
        <div><strong>no rows</strong></div>
    {{end}}
</div>

<div>
    <pr>
        {{.prs}}
    </pr>
</div>

</body>
</html>

